.carrossel__titulo {
    background-color: var(--branco);
    color: var(--laranja);
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 1.25rem 0 .5rem 0;
}

.swiper-slide img {
     width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;   
}

.swiper-pagination {
    position: initial;
    margin: .75rem 0 1rem 0;
}