.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1rem 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1rem;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__link {
    color: var(--branco);
    padding: 1rem 1.5rem;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: .87rem;
    font-weight: 700;
}

.topicos__item {
    margin: 1.5rem .5rem;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 1.5rem;
    }
    
    .topicos__link {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
    }

    .topicos__item {
        margin: 2.25rem .75rem;
    }

}